@if (Context.User.Identity.IsAuthenticated)
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-capitalize" href="#" id="navbarDropdownMenuLink" role="button"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: blue">
            @Context.User.Identity.Name
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="MudarSenha">Mudar Senha</a>
            <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Logout">Sair</a>
        </div>
    </li>

}
else
{
    <li class="nav-item">
        <a class="nav-link text-capitalize" asp-area="" asp-controller="Account" asp-action="Login"
           style="color: blue">Login</a>
    </li>
}